.filter-button {
  border-width: 5px;
  border-color: transparent;
}

.filter-button:hover {
  border-color: var(--accent-border);
}

.filter-button--active {
  border-style: dotted;
  border-color: var(--accent-border);
  border-width: 5px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}
